body{
    background-color: bisque;
    font-family: 'times new roman' serif;
    font-size: 18px;
    word-spacing: 5px;
    margin-top: 80px;
    padding: 35px;
    overflow: auto;
    width: 90%;
}
header{
    background-color:rgb(235, 138, 69);
    position:fixed;
    width:100%;
    top:0;
    left:0;
    display: flex;
    padding:14px;
}
nav{
    margin:auto;  
    text-align: center; 
}
nav>ul>li {
    display: inline;
    margin:30px;
}
li a {
    padding: 20px 20px;
    text-decoration: none;
  }
a:hover {
    color:rgb(169, 71, 214);
    background-color: cyan
}
.container{
    display: flex;
    margin:5px;
    padding:20px;
    border:15px;
    
}

#container-image{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxJ_h-3egsv22l_1WAKdJbuOX_FikZ6gOyLHJDkxFsgIvpy1Vg&s');
    background-size: cover;
    height: 500px;
    width: 200%;
    border-radius: 3%;
}
#about,p{
    margin:10px;
    padding:15px;
    border:5px;
}
#culture{
    background-color: whitesmoke;
    padding:10px;
}
span {
    float: left;
    width: 0.8em;
    font-size: 300%;
    font-family: algerian, courier;
    line-height: 100%;
  }
  #gallery,#gallery2{
      display:flex;
      overflow: inherit;
  }
  #gallery>div, #gallery2>div{
      padding-left: 110px;
  }
  img{
      border-radius: 8%;
  }
  
 
  footer{
      font-style: italic;
      font-size: 21px;
      color:blue;
      background-color: darkorange;
      text-align: center;
  }
 